body {
    background-color: rgb(95, 95, 95);
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: rgb(245, 245, 245);
}

h1,
h2,
h3 {
    text-align: center;
    color: rgb(200, 200, 200);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

ul,
ol {
    margin-left: 40%;
    margin-right: 40%;
}

li {
    padding: 3px;
    font-size: large;
}

a,
li:link {
    text-decoration: none;
}

a,
li:visited {
    text-decoration: none;
}

a,
li:hover {
    color: rgb(200, 200, 200);
}

a,
li:active {
    color: white;
}

p {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}