body {
    background-color: rgb(95, 95, 95);
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: rgb(245, 245, 245);
}

h1,
h2,
h3 {
    text-align: center;
    color: rgb(200, 200, 200);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

a,
li:link {
    text-decoration: none;
}

p {
    color: white;
    font-size: large;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

a {
    position: absolute;
    color: white;
    font-size: calc(12px + 1.5vw);
}